<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="nav-header">
    <header>
        <h1 style="text-align: center;">Hello <%= usernameDashboard %></p></h1>
    </header>
    </nav>
    <main>
        <section class="widgets">
            <div class="widget">
                
                <div class="widget-header">
                    <h2>My github Respositories</h2>
                </div>
                
                <nav class="widget-nav">
                    <ul>
                        <li><a href="https://github.com/sgovardhanck/Simple-calculator-typescript-html-CSS.git">Calculator</a></li>
                        <li><a href="https://github.com/sgovardhanck/News-API-NodeJS-handlebars-JavaScript-CSS.git">News API</a></li>
                    </ul>
                </nav>
                
                <p style="text-align: center;">Click on the button to vist my repositories containing the mentioned projects.</p>
               
            </div>
        </section>
    </main>
    <footer>
        <p>Suhas Govardhan C K | sgovardhanck@deloitte.com</p>
    </footer>
</body>
</html>